.header {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    background: #131921;
    position: sticky;
    top:0;
    z-index: 100;
}

.header-logo {
    display:flex;
    align-items: center;
    color: #ff9f00;
    margin: 0 25px;
}

.header-logo-icon {
    margin-right: 10px;
}

.header-logo-title {
    border: 0;
    text-decoration: none;
    color: #fff;
}

.header-search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0 10px;
}

.header-search-input{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header-search-icon {
    padding: 5px;
    height: 22px;
    background-color: #ff9f00;
}

.header-nav {
    display:flex;
    justify-content: space-evenly;
}

.header-nav-item {
    display:flex;
    flex-direction:column;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

.header-nav-item .item-line-one {
    font-size: 10px;
}
.header-nav-item .item-line-two {
    font-size: 13px;
    font-weight: 800;
}

.header-basket-icon {
    display: flex;
    align-items: center;
    color:#fff;
    margin-right: 10px;
    margin-left: 10px;
}

.header-basket-count {
    
    margin-right: 10px;
    margin-left: 10px;
}

