.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 25px 15px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}

.product-info .rating { display: flex;}

.product-image img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin: 20px 0 0 15px;
}

.product button {
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #ff9f00;
    padding: 8px 12px;
    text-align: center;
    color: #131921;
    font-weight: 550;
}

.product .price {
    margin-top: 10px;
}

